<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zlf.zlftest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="null"></meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ColorArcProgressBarActivity"/>
        <activity android:name=".NavigationViewActivity"/>
        <activity android:name=".Toolbar_Actrivity"/>
        <activity android:name=".TextInputLayout_Activity"/>
        <activity android:name=".FloatingActionButton_Snackbar_Activity"/>
        <activity android:name=".TabLayout_Activity"/>
        <activity android:name=".AppBarLayout_Activity"/>
        <activity android:name=".CollapsingToobarActivity"/>
        <activity android:name=".testRecycleView.TestRecycleViewActivity"/>


    </application>

</manifest>